<!-- Last modified Tue Oct 21 12:39PM -->
<!-- Last modified Sat Aug 30 10:04AM -->
<a href="~/" class="nav-logo">
	{% if snippets['Logo URL'] %}
		<img 
			src="{{ snippets['Logo URL'] }}" 
			alt="{{ snippets['Logo alt text'] }}"
			style="width: auto; height: 72px;">
		{% endif %}

  	{% if snippets['Site name'] %}
		<h1 class="siteTitle custom-sitetitle">
			{{ snippets['Site name'] }}
		</h1>
	{% endif %}
</a>
<!-- Last modified Sat Aug 30 10:04AM -->
<!-- Last modified Tue Oct 21 12:39PM -->